<!-- <app-favourite [isFavourite]="post.isFavourite" (change)="onFavouriteChange($event)"></app-favourite> -->
<!-- <bootstrap-panel>
    <div class="myhead">Heading</div>
    <div class="mybody">
        <h2>Body</h2>
        <p>vdfzvx xcvzxvzv zxvvc vfsfvdbf dgnhgfhm gng dn </p>
    </div>
    <div class="mybody">
        <h2>Body</h2>
        <p>vdfzvx xcvzxvzv zxvvc vfsfvdbf dgnhgfhm gng dn </p>
    </div>
    <div class="mybody">
        <h2>Body</h2>
        <p>vdfzvx xcvzxvzv zxvvc vfsfvdbf dgnhgfhm gng dn </p>
    </div>
</bootstrap-panel> -->
<!-- <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul> -->
<!-- 
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a [class.active]="viewMode == 'map'" class="nav-link" (click)="viewMode = 'map'">Map View</a>
    </li>
    <li class="nav-item">
            <a [class.active]="viewMode == 'list'" class="nav-link" (click)="viewMode = 'list'">List View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
  </div> -->


  <!-- <button (click)="onAdd()">Add</button>
  <ul>
      <li *ngFor="let course of courses; index as i; even as isEven">
          {{ course.id }} - {{course.name}} - {{i}} - {{isEven}}
          <button style="color: red" (click)="onRemove(course)">Remove</button>
      </li>
  </ul> -->

  <!-- <button (click)="loadCourses()">Load Courses</button>
  <ul>
      <li *ngFor="let course of courses1; trackBy: trackCourse">
          {{ course.name }}
      </li>
  </ul> -->

  <!-- <app-contact-form></app-contact-form> -->
  <!-- <app-singup-form></app-singup-form> -->
  <app-navbar></app-navbar>
 
  <br/>
  <!-- <app-post></app-post> -->
  <!-- <app-retail-login></app-retail-login> -->
  <!-- <app-home></app-home> -->
  <router-outlet></router-outlet>
  